name: GitHub Pages Publish

on:
  pull_request:
  # By default, the pull_request event type is not triggered when a PR is merged into gatsbyjs
  push:
    branches:
      - gatsbyjs

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: ${{ github.ref != 'refs/heads/gatsbyjs' && 'Build site' || 'Build and publish site' }}
        uses: enriikke/gatsby-gh-pages-action@6293db9dd9d25701c5220c26a8716ac8322b6588 # v2.2.1
        with:
          access-token: x-access-token:${{ secrets.GITHUB_TOKEN }}
          # Publish the site only if merging into gatsbyjs branch
          skip-publish: ${{ github.ref != 'refs/heads/gatsbyjs' }}
          deploy-branch: master
